@model DoctorManagement.Models.DoctorDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DoctorDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Education)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNo2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AaddharNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AaddharNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DoctorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
