@using StronglyTypeHtmlHelper.Models
@model Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.TextBoxFor(k => k.Name)
    </div>
    <br />
    <div>
        @Html.TextBoxFor(k => k.Address)
    </div>
    <br />
    <div>
      @Html.CheckBoxFor(k => k.IsEmployee)
    </div>
    <br />
    <hr />
    <br />
    <div>
        @using (Html.BeginForm("MyForm"))
        {
          @Html.TextBoxFor(k => k.Name)
            <br /> <br />
          @Html.TextBoxFor(k => k.Address)
            <br /> <br />
          @Html.CheckBoxFor(k => k.IsEmployee)
            <br /> <br />
          <input type="submit" value="Press Me" />
        }
    </div>
</body>
</html>
